.header {
  width: 100%;
  background-color: #afabab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;

  &__item {
    padding: 5px 10px;
    display: block;
    border: 1px solid blanchedalmond;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    font-family: "Roboto" ,sans-serif;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 0 0 5px blanchedalmond;
      transform: scale(1.01);
      transition: all 0.1s linear;
    }

    &:active {
      box-shadow: 0 0 10px blanchedalmond;
      transform: scale(0.99);
      transition: all 0.1s linear;
    }
  }
}

.active {
  background-color: blanchedalmond;
}